body {
  padding: 20px;
  text-align: center;
  font-family: sans-serif;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
}

ul {
  display: block;
  list-style: none;
  padding: 0
}

li {
  display: inline-block;
  list-style: none;
}
